h1 {
    color: blue;
}

h2 {
    color: purple;
}

p {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: black;
    color: white;
}

.Fida {
    color: red;
    font-style: italic;
    font-weight: 1000;
}   

body {
    background-color:lightgray;

}


#Main-Heading {
    color: black;
}



.card {
    background-color: brown;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



