h1 {
    color: blue;
}

h2 {
    color: purple;
}

p {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: black;
    color: white;
}

.Fida {
    color: red;
    font-style: italic;
}   

body {
    background-color:lightgray;

}